<section id="comment-ca-marche">
  <div class="container">
    <div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">Comment ça marche ?</h2>
    <div class="colored-line">
    </div>
    <div class="section-description">
      Voici un petit apercu de notre process.
    </div>
    <div class="colored-line">
    </div>
  </div>
  <!-- /END SECTION HEADER -->
    <ul class="timeline">
        <li class="wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
          <div class="timeline-badge info"><i class="fa fa-question"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Etape 1 - Le premier rendez-vous</h4>
            </div>
            <div class="timeline-body">
              <p>
              Lors du premier rendez-vous, nous attendons le plus d'infos possibles, souhaits, persepectives, objectifs, textes, photos, etc.
                <br>
              C'est à ce moment là, que nous allons apprendre à vous connaitre, vous, et votre projet afin de pouvoir étayer les points du cahier des charges. 
                <br>
              Nous détaillerons ensemble toutes vos attentes et seront prets pour l'étape 2! 
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
          <div class="timeline-badge warning"><i class="fa fa-comments"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Etape 2 - Le cahier des charges !</h4>
            </div>
            <div class="timeline-body">
              <p>
                Notre réponse sera claire, structurée et répondra à chacun des points définits lors de l'étape 1. 
                <br>
                Lors de cette phase, nous échangerons à nouveau afin de d'éclaircir et de valider chacunes de étapes du projets.
                
                Le cahier des charges prend forme. 
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success"><i class="fa fa-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Etape 3 - Vous validez!</h4>
            </div>
            <div class="timeline-body">
              <p>Nous vous présentons la version 1 du cahier de charges de votre projet. C'est l'explication point par point de votre projet, chaque lignes, chaque fonctionalitées y sera détaillé. </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
           <div class="timeline-badge info"><i class="fa fa-code"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Etape 4 - Le developpement ! </h4>
            </div>
            <div class="timeline-body">
              <p>La durée varie suivant les projets. Mais vous êtes informé à chaque étapes du projet grace à notre logiciel <a href="http://www.basecamp.com">Basecamp</a>. 
              <br>
              Chacun des points du cahier des charges y sont inscrits et vous pouvez constater en temps réel de l'avancée du projet. 
              <br>
              Vous pouvez suivre et contribuer au projet au jour le jour si vous le souhaitez. 
              </p>
            </div>
          </div>
        </li>
        <li class="wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
          <div class="timeline-badge success"><i class="fa fa-desktop"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Votre site est prêt pour sa mise en ligne ! </h4>
            </div>
            <div class="timeline-body">
              <p>
              Une fois le projet terminé, que vous l'avez testé et qu'il respecte le cahier des charges définit lors de l'étape 3, le site est mis en production.
                <br>
              Votre bénéficié contiuellement d'une sauvegarde sur un cloud ainsi que sur nos serveurs.
              Vous bénéficié d'une maintenance corrective d'un an.
              Vous pouvez nous appeller 7/7 de 8h à 20h.
              </p>
            </div>
          </div>
        </li>
    </ul>
</div>
</section>