<section class="app-brief grey-bg" id="qui-sommes-nous">

<div class="container">
	
	<div class="row">
		
		<!-- IMAGE PRO -->
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="phone-image">
				<%= image_tag 'assets/professionnels.jpg' %>
			</div>
		</div>
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">Qui sommes-nous ?</h2>
			
			<div class="colored-line-left">
			</div>
			
			<p>
				Sweetbid est un réseaux d'entrepreneur passionés par le domaine du web. Nous sommes capable de réaliser tout types de projets.
					<br>
					<br>
				Nous aimons notre job et assurons une qualité optimale.
					<br>
					<br>
				Nous vous offrons nos compètences en matière de Web Development mais pas seulement !
			</p>
			
			<!-- FEATURE LIST -->
			<ul class="feature-list">
				<li><i class="icon_lock_alt"></i> Web-Entreprenariat</li>
				<li><i class="icon_check_alt2"></i> Agiles Methodologies</li>
			</ul>
			<ul class="feature-list feature-list-right">
				<li><i class="icon_paperclip"></i> Creative Design</li>
				<li><i class="icon_adjust-vert"></i> Respect</li>
			</ul>
			
		</div>
		<!-- /END RIGHT BRIEF -->
	</div>
	<!-- /END ROW -->
</div>
<!-- /END CONTAINER -->
</section>
<!-- /END SECTION -->

