<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
			<div class="container">
				<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="/"><%= image_tag 'logo-black.png' %></a>
				
			</div>

			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="#home">Home</a></li>
					<li><a href="#qui-sommes-nous">Qui sommes-nous ?</a></li>
					<li><a href="#nos-services">Nos Services</a></li>
					<li><a href="#comment-ca-marche">Comment ça marche ?</a></li>
					<li><a href="#nos-realisations">Nos réalisations</a></li>
					<li><a href="#nous-contacter">Nous contacter</a></li>
				</ul>
			</div>
					</div> 
		</div> 